@tailwind base;
@tailwind components;
@tailwind utilities;

.topnav{
    background-color: red;
    height: 60px;
    overflow:hidden;
}

.topnav a:hover{
    background-color: black;
    color: blue;
}

.index-table, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 25px;
    margin-left: 500px;
}
